#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;

  @media screen and (max-width: 768px) {
    height: 3em;
  }
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
