name: safe-modules-4337-gas-metering
on:
  push:
    paths:
      - 'modules/4337/**'
      - 'examples/4337-gas-metering/**'

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
          cache-dependency-path: package-lock.json
      - run: |
          npm ci
          npm run fmt:check -w examples/4337-gas-metering
          npm run lint -w examples/4337-gas-metering
          npm run build -w examples/4337-gas-metering
